body {    
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);  
}
input[type='file'] {
  display: none
  }  
 /* Aparência que terá o seletor de arquivo */
 label {
  background-color: #b46607;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 33px;
  padding: 14px 18px;
  font-family: 'Open Sans', sans-serif;      
  font-size: 20px;    
}
button{  
  background-color: #5a040b;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 30px;
  padding: 14px 40px;
  font-family: 'Open Sans', sans-serif;      
  font-size: 14px;   
}
#centralizar { 
  position: absolute;
  top: 125px;;
  left:470px;  
  } 
.Titulo {  
  position: absolute;
  top:0%;        
  padding: 1.5px;  
  left: 0%;
  right: 0%;    
  background-color: rgb(75, 6, 6);
  color: rgba(251, 248, 248, 0.9);    
  text-align: center;    
  }
  .InformacaoInicial {
    font-size: 20px;
    color: #fff;        
    top:25%;
    position: absolute;
    margin-left: 28%;
    margin-right: 29%;     
    text-align: justify;
    text-justify: inter-word;
  }   
  #contador { 
    position: fixed;
    top:88%;
    left:84%;         
    font-size: 20px;
    color: rgb(10, 10, 10);        
  }
  .rodape {
    text-align: center;
    background-color: #000000;
    color: #F2FFFC;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left:-8.5px;
    opacity: 0.85;
    box-sizing: border-box;
  }
  #caract {         
    font-size: 20px;
    color: #fff;        
    top:20%;
    position: absolute;
    margin-left: 28%;
    margin-right: 29%;     
    text-align: justify;
    text-justify: inter-word;
  }
  #obs {    
    font-size: 20px;
    color: #fff;
    top:20%;
    position: absolute;
    margin-left: 28%;
    margin-right: 29%;    
    text-align: justify;
    text-justify: inter-word;
  }
  #info {      
    font-size: 20px;
    color: #fff;
    top:20%;
    position: absolute;
    margin-left: 28%;
    margin-right: 29%;    
    text-align: justify;
    text-justify: inter-word;
  }
  #politic {
    font-size: 20px;
    color: #fff;
    top:20%;
    position: absolute;
    margin-left: 28%;
    margin-right: 29%;    
    text-align: justify;
    text-justify: inter-word;
  }  